body{
    background: linear-gradient(45deg, #000000, #1d002c, #1d022c, #000000);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.titulo_sec{
    color: rgb(79, 3, 96);
    text-shadow: 0px 0px 3px rgb(72, 1, 90);
    
}
p{
    color: white;
    text-align: center;
   
}
h2{
    color: rgb(120, 31, 192);
}
li{
    color: white;
    font-size: 19px;
   
}
.titulo_princ{
    text-align: center;
    font-size: 42px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 1px rgb(149, 67, 226);
}
.img_ss{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.img_ss:hover{
    transform: scale(1.05);
}
.opc{
    display: flex;
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 35, 44);
    border-radius: 14px;
}
.opc:active{
    transform: scale(0.95);
}
.div_ss{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.img_opc{
    filter:drop-shadow(0px 0px 3px black);
    padding-left: 5px;
    width: auto;
    height: 85%;
}

.img_princ{
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-self: center;
    width: 40%;
    height: auto;
}
.dest{
    font-size: 22px;
    font-weight: bold;
}
.sol_css{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.mercurio_css{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.venus_css{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.terra_css{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}