body{
    background-color: rgb(0, 0, 0);
}
.titulo_princ{
    text-align: center;
    font-size: 42px;
    color: rgb(64, 0, 80);
    text-shadow: 0px 0px 3px rgb(86, 42, 95);
}
p{
    color: white;
    text-align: center;
}
.img_ss{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.img_ss:hover{
    transform: scale(1.05);
}
.opc{
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 35, 44);
    border-radius: 14px;
}
.opc:active{
    transform: scale(0.95);
}
.div_ss{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.img_opc{
    filter:drop-shadow(0px 0px 3px black);
    padding-left: 5px;
    width: auto;
    height: 85%;
}
.sol_css{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.mercurio_css{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.venus_css{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.terra_css{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 20px;
}